{{#each items as |item|}}
  {{log item}}


 <div class="item-box">
    <div class="item-image">Image location</div>
    <h1 data-id="{{item.id}}" class="my-item"> <small>{{item.name}}</small></h1>
    <ul data-id="{{item.id}}">
        <li><b>Price:</b> ${{item.price}}</li>
        <li><b>Description:</b> {{item.description}}</li>
        <li><b>Weight:</b> {{item.weight}}g</li>
        <li><b>Dimensions:</b> {{item.dimensions}}</li>
        <li> <button>Add to cart</button></li>
    </ul>
   
  </div>

{{/each}}
