{{#if orders}}
    {{#each orders as |order|}}
    <div class="thumbnail">
      <div class="caption">
        <h3>Order ID: {{order._id}}</h3>
        <hr>
        <p><b>Owner ID:</b> {{order._owner}}</p>
        <p><b>Date:</b> {{order.createdAt}}</p>
        {{!-- <p>Item: {{order.items}}</p> --}}
        {{#each order.items as |item|}}
        <p><b>Item:</b> {{item._id}}</p>
        <p><b>Item ID:</b> {{item.item_id}}</p>
        <p><b>Quantity:</b> {{item.quantity}}</p>
        {{/each}}
        {{!-- <h3>HB ITEMS:{{> order-items}}</h3> --}}
        {{!-- <h3>HB ITEMS:{{> order}}</h3> --}}
        <p><b>Total:</b> ${{order.total}}</p>
        <h3>Submitted: {{order.submitted}}</h3>
      </div>
    </div>  
    {{/each}}
{{else}}
  <h3>No orders</h3>
{{/if}}